<h1 align="center">Listing All Articles</h1>

<div align="center">
    <%= will_paginate @articles, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
    <%= will_paginate @articles, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>
  
  