<% if obj.errors.any? %>
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <div class="card text-white bg-danger mb-3">
        <div class="card-heading">
          <h2 class="card-title">
            <%= pluralize(obj.errors.count,"error")  %>
            prevented this article from being saved:
          </h2>
          <div class="card-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li class="card-text"><%= msg %></li>
              <% end %>
            </ul>  
          </div>
          
        </div>
      </div>
    </div>
  </div>
<% end %>