<h2 align="center">Listing All  Categories</h2>
<div align="center">
  <%= will_paginate @categories, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    <% @categories.each do |category|%>
      <ul class="listing">
          <div class="row">
              <div class="well col-md-4 offset-md-4">
                  <li class="article-title">
                      <%= link_to "#{category.name}", category_path(category)%>
                  </li>
              </div>
          </div>
      </ul>
    <% end %>
  <%= will_paginate @categories, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>