
  <footer class="page footer">
    <small>
      Copyright &copy; ALPHA BLOG 2018
    </small>
    <nav>
       <ul>
           <li><%= link_to "About", about_path  %></li>
           <li><%= link_to "About", about_path  %></li>
           <li><%= link_to "About", about_path  %></li>
       </ul> 
    </nav>
  </footer>
